<div id="main-division">
    <div class="main-bx">
        <div class="hd">
            Sample Text
        </div>
        <div>
            <ul>
            <?php foreach ($pages as $page): ?>
               <li><?= $page->title ?></li> 
            <?php endforeach; ?>
            </ul>
        </div>
    </div>  
</div> 