body {
    background-color: #ddd; 
    font-family: Helvetica,Arial,sans-serif;   
}

@font-face {
    font-family: "Osaka";
    src: url('../osaka.unicode.ttf') format("truetype");
}

.osaka { 
    font-family: "Osaka", Verdana, Tahoma;
}


a, a:visited {
    color: #367282;
    text-decoration: none;
}
.nipnotes-menu-wrapper {
    background-color: #5f99cf;
    /*margin-bottom: 2.5em;*/
    white-space: nowrap;
    position: relative;
    border-bottom: 2px solid #367282;
}

.nipnotes-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.nipnotes-menu .pure-menu-link,
.nipnotes-menu .pure-menu-heading {
    color: white;
    /*font-weight: bold;*/
}

.nipnotes-menu .pure-menu-link:hover,
.nipnotes-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.nipnotes-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.nipnotes-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.nipnotes-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
   /*  right: 0; */
    display: none;
}

.nipnotes-menu-toggle .bar {
    background-color: #ddd;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.nipnotes-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.nipnotes-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nipnotes-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nipnotes-menu-screen {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color:#000000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.nipnotes-menu-tucked .nipnotes-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

.videobox {
    margin: 30px 90px 20px 90px;
}

.videobox .videocontent {
    border: 1px solid #5f99cf;
}

@media (max-width: 62em) {
    /* max-width: 48em  */

   .hideToMobile {
       display: none;
   }
    .nipnotes-menu {
        display: block;
    }
    
    
    .nipnotes-menu-toggle {
        display: block;
        display: none\9;
    }

    .nipnotes-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #367282;
        background-color: #ddd;
        z-index: 100;
    }

    .nipnotes-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .nipnotes-menu-bottom.nipnotes-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
        margin-bottom: 2.5em;
    }

    .pure-menu-horizontal.nipnotes-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
         /*margin-bottom: 2.5em;*/
    }
    
    #main-division {
        margin-left: 0px;
    }
    
    .videobox {
        margin: 0 0 0 0;
    }
    
    .videobox .videocontent {
        border: 0;
    }
}


#main .page-center {
    padding-top: 10px;
}

.page-center {
    max-width: 1024px;
    margin: 0 auto;
}

.top-margin {
    /*margin-top: 2.5em; */
    margin-top: 2.8em;
}
.side-menu {
    background: #e6ecfe;
    border: 1px solid #6e87b5 !important;
    margin-bottom: 10px;
}

#nipnotes-sitenews {
    line-height: 1.5em;
    font-family: Arial,sans-serif;
}

#nipnotes-sitenews dd {
    font-size: 14px;
    line-height: 1.5em;
    /*margin: 0 0 25px;
    padding: 0;*/
    clear: both;
    text-align: justify;
}

/*
 * MENU ITEM
 */
/*li.menu-item:hover a.menu-title span {
     display: none;
 }

 
 li.menu-item:hover a.menu-title:after   {
     content: attr(data-hover);

 }*/
 
 .borderized {
     border: 1px solid #367282;
 }
 
 /*
  * BUTTONS 
  */
  
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.button-calm {
    border-color: #4070ff;
    background-color: #4070ff;
}
/*
 * BOX
 */
.main-bx {
    border-color: #6e87b5 !important;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid;
}

#navi #contentbox {
    border-top: 0;
    background-color:#e6ecfe;
}

#navi .bx {
    background-color: #9eb4db;

}
.hd {
    background-color: #fff;
    overflow: hidden;  
}

#navi .hd {
    border-bottom-color:  #6e87b5 !important;
    border-bottom: 1px solid;
}

#contentbox hd {
    border-top: 1px solid;
    position: static;
}

#contentbox .hd .cbbtn {
    border-right-color: #cedaf3;
    float: left;
    margin: 1px 0;
    padding: 1px;
    border-right-width: 1px;
    border-right-style: solid;
}

#contentbox .hd .cbbtn a {
    display: block;
    width: 10px;
    height: 9px;
    padding: 4px 4px 3px;
    text-indent: -9999px;
    overflow: hidden;
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=80)";
    opacity: 0.8;
    background-image: url('../../images/pic_all-160208.png');
    background-repeat: no-repeat;
}

#cbbtntop {
   background-position: -1px -40px;
}

#cbbtnbtm {
    background-position: -21px -40px;
}

#contentbox .hd span.assist {
    float: right;
    margin: 2px 2px 0 0;
}

.sidemenu-greeter {
    padding: 3px 7px 2px; 
    /*line-height: 150%;*/
}
span.assist {
    font-size: 85%;
}

.assist {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #b7b7b7 #b7b7b7 #989898;
}

#main-division {
    margin-left: 8px;
    margin-right: 8px;
}

#main-division .hd {
    background-image: url('../../images/1.png');
    line-height: 1.3;
    background-position: 0 -30px;
    background-repeat: repeat-x;
}



::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


/*.accordion {
  margin: 50px;
}*/
.accordion dt, .accordion dd {
  padding: 10px;
  border: 1px solid #367282;
  border-bottom: 0;
  background-color: #FFF;
}
.accordion dt:last-of-type, .accordion dd:last-of-type {
  border-bottom: 1px solid #367282;
}
.accordion dt a, .accordion dd a {
  display: block;
  color: black;
  font-weight: bold;
}
.accordion dd {
  border-top: 0;
  font-size: 12px;
  display: none;
}
.accordion dd:last-of-type {
  border-top: 1px solid #FFF;
  position: relative;
  top: -1px;
}

