<div class="grid-u">
<div class="pure-g grid-g">  
    
    <div style="background-color: #fff;" class="pure-u-1-5 pure-u-md-1-5 grid-u">
        <div id="nipnotes-sitenews">
              asf  
        </div>
    </div>
 
     <div style="background-color: #fff;" class="pure-u-1-5 pure-u-md-1-5 grid-u">
        <div id="nipnotes-sitenews">
              asfd  
        </div>
    </div>
    
    <div style="background-color: #fff;" class="pure-u-1-5 pure-u-md-1-5 grid-u">
        <div id="nipnotes-sitenews">
                asdf
        </div>
    </div>
    
    <div style="background-color: #fff;" class="pure-u-1-5 pure-u-md-1-5 grid-u">
        <div id="nipnotes-sitenews">
              af  
        </div>
    </div>
    
    <div style="background-color: #fff;" class="pure-u-1-5 pure-u-md-1-5 grid-u">
        <div id="nipnotes-sitenews">
              asf  
        </div>
    </div>   

    
</div><!-- pure-g grid-g -->                       
</div><!-- grid-u -->

    <dl id="dlAccordion" class="accordion">
    <?php foreach ($topics as $topic): ?>  
        <dt ><a id="<?=$topic->id?>" href="#"><?= $topic->title ?></a> </dt>
        <dd  id="<?= 'desc-'.$topic->id?>" class="anohana"><?= $topic->description ?></dd>
    <?php endforeach; ?> 
    </dl>